*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 26px 160px;
    background-color: #2B1712;
    border-bottom: dashed 12px #847571 ;
    border-width: 2px;
    position: fixed;
}
.container2{
    display: flex;
    justify-content: center;
    gap: 8px;
}
.logo{
    font-size: 20px;
    color: #FFFFFF;
    font-family: 'Pacifico';
    padding-left: 40px;
}
nav{
    font-family: 'Pacifico';
    color: #FFFFFF;
     list-style-type: none;
     display: flex;
     flex-direction: row;
     align-content: center;
     gap: 72px;
     
}

a{
    color: #FFFFFF;
    text-decoration: none;
}

li :hover{
    color: #DDB66F;
}

main{
    background-color: #2B1712;
}

.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    height: 934px;
}

.text1{
    font-family: 'Poppins';
    color: #DDB66F;
}
.text2{
    font-family: 'Pacifico';
    color: #FFFFFF;
    font-size: 72px;
    padding-bottom: 16px;
}
.imgcof{
    position: relative;
    top: 30px;
}
.text3{
    color: #FFFFFF;
     font-family: 'Poppins';
     padding-bottom: 48px;
}

.button1{
    background-color: #DDB66F;
    color: black;
    border-radius: 64px;
    padding: 16px 28px;
    border: none;
    font-family: 'Poppins';
}
.button1:hover{
    background-color: #f1dcb4;
    color: #706141;
    cursor: pointer;
}
.container_2{
    height: 480px;
    width: 100%;
    background-color: #492D26;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    position: relative;
    bottom: 100px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
   
}
.incontainer2{
    padding-top: 64px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.text4{
    margin-top: 32px;
    color: #FFFFFF;
    font-family: 'Poppins';
}
.container_2 button{
    background-color: #2B1712;
    color: rgb(255, 255, 255);
    border-radius: 64px;
    padding: 16px 28px;
    border: none;
    font-family: 'Poppins';
    width: 182px;
}
.container22{
    display: flex;
    justify-content: space-between;
    padding-top: 67px;
    padding-bottom: 172px;
    gap: 88px;
}
.incontainer22{
    display: flex;
    justify-content: center;
    padding-top: 67px;
    flex-direction: column;
    text-align: center;
}
.text5{
font-size: 20px;
font-family: 'Pacifico';
color: #FFFFFF;

}




.container_3{
    height: 600px;
    width: 100%;
    background-color: #ffffff;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    position: relative;
    bottom: 200px;
}
.incontainer3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 64px;
}
.incontainer3text{
    display: flex;
    flex-direction: column;
    color: black;
    padding-top: 50px;
}
.incontainer3text h2{
    font-size: 48px;
    font-family: 'Pacifico';
     padding-bottom: 20px;
}
.incontainer3text p{
    font-family: 'Poppins';
}


.container_4{
    height: 892px;
    width: 100%;
    background-color: #492D26;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    position: relative;
    bottom: 300px;
}

.container_4 div{
    margin: auto;
    margin-top: 30px;
}
.container_4_text{
    font-size: 48px;
    font-family: 'Pacifico';
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.incontainer4{
    width: 100%;
    min-height: 656px;
    margin: auto;
    margin-top: 20px;
}
.circle{
    width: 265px;
    height: 265px;
    border-radius: 50%;
    background-color: #65463E;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    bottom: 100px;
    z-index: 1;
}
.circle1{
    width: 265px;
    height: 265px;
    border-radius: 50%;
    background-color: #65463E;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    
    z-index: 2;
    
}
.circle2{
    width: 265px;
    height: 265px;
    border-radius: 50%;
    background-color: #65463E;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    
    z-index: 2;}
.circles{
    width: 75px;
    height: 75px;
    border-width: 12px;
    color: #492D26;
    background-color: #DDB66F;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #492D26;
    position: relative;
    bottom: 15px;
    right: 68px;
    border-style: solid;
    font-family: 'Poppins';
    font-size: 38px;
    font-weight: 600;
    z-index: 3;
}
.circles1{
    width: 75px;
    height: 75px;
    border-width: 12px;
    color: #492D26;
    background-color: #DDB66F;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #492D26;
    position: relative;
    top: 90px;
    right: 68px;
    border-style: solid;
    font-family: 'Poppins';
    font-size: 38px;
    font-weight: 600;
    z-index: 3;
}
.circles2{
    width: 75px;
    height: 75px;
    border-width: 12px;
    color: #492D26;
    background-color: #DDB66F;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #492D26;
    position: relative;
    top: 90px;
    right: 68px;
    border-style: solid;
    font-family: 'Poppins';
    font-size: 38px;
    font-weight: 600;
    z-index: 3;
}
.Steps{
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: baseline;
}
.insteps{
    display: flex;
    margin: auto;
    flex-direction: column;
    
}
.insteps2{
    display: flex;
    margin: auto;
    flex-direction: column;
}

.container_4_p{
    font-family: 'Poppins';
    color: #FFFFFF;
    position: relative;
    bottom: 60px;
}
.container_4_p2{
    font-family: 'Poppins';
    color: #FFFFFF;
    position: relative;
    bottom: 60px;
}
.container_4_p1{
    font-family: 'Poppins';
    color: #FFFFFF;
    position: relative;
    top: 105px;
}





.container_5{
    height: 603px;
    width: 100%;
    background-color: #ffffff;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    position: relative;
    bottom: 400px;
}
.incontainer_5{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 64px;
}
.incontainer_5_p{
    font-size: 48px;
    font-family: 'Pacifico';
    color: black;
}











.container_6{
    height: 545px;
    width: 100%;
    background-color: #2B1712;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    position: relative;
    bottom: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
    
.incontainer_6{
    display: flex;
    align-items: start;
    flex-direction: column;
}
.container6text{
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Pacifico';
}
.incontainer6_p{
    color: #FFFFFF;
    font-size: 36px;
    font-family: 'Pacifico';
}
.buttons{
    display: flex;
    flex-direction: column;
}
.input{
    width: 360px;
    height: 60px;
    margin-bottom: 20px;
    color: #847571;
    border-width: 2px;
    border-radius: 64px;
    border-color: #847571;
    border-style: solid;
    background-color: #2B1712;
    font-family: 'Poppins';
}
.buttons button{
    width: 360px;
    height: 60px;
    border-width: 2px;
    border-radius: 64px;
    border-style: solid;
    background-color: #DDB66F;
    color: black;
    font-family: 'Poppins';
    border: none;
}
.buttons p{
    margin-top: 30px;
    color: rgb(255, 255, 255);
    font-family: 'Poppins';
     font-size: 14px;
}
.buttons a{
    color: #DDB66F;
    font-family: 'Poppins';
    font-size: 14px;
}
.buttons button:hover{
    background-color: #eccf98;
    color: #524225;
    cursor: pointer;
}
.buttons button:active{
    background-color: #f3b84b;
    color: #4d360d;
    cursor: pointer;
}
.input :active{
    background-color: #442922;
}
.icons{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 80px;
}
.incontainer_66{
   display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 96px;
}
.buttons a:hover{
    color: #eed5a7;
    font-family: 'Poppins';
    font-size: 14px;
}



@media (max-width: 600px) {
    .container{
        padding: 0 0;
        display: flex;
        justify-content: center;
        gap: 27px;
    }
    .container2{
        display: flex;
        justify-content: center;
    }
    .main_container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
       
        height: 967px;
        text-align: center;
    }
    
    .imgcof{
        width: 75px;
    }
    .logo{
        position: relative;
        right: 45px;
    }
    .imglogo{
        width: 28px;

    }
    nav{
        font-size: 10px;
        gap: 7px;
        position: relative;
        right: 50px;
    }
    .article div{
        display: flex;
        flex-direction: column;
    }
    .text2{
        padding-bottom: 60px;
        padding-top: 60px;
        font-size: 40px;
        margin: 0;
        line-height: 1px;
    }
    .text3{
        font-size: 15px;
    }
    .text1{
        font-size: 15px;
    }
    .text4{
        font-size: 15px;
    }








    .img1{
        padding-top: 30px;
        width: 320px;
        padding-bottom: 170px;
    }
    .container_2{
        height: 953px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .img2{
        padding-top: 20px;
        width: 120px;
    }
    .text4{
        margin-top: 20px;
    }
    .container22{
        padding-top: 20px;
        padding-bottom: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        text-align: center;
        padding-left: 10px;
       
    }
    .incontainer2{
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 20px;
        align-items: center;
         position: relative;
        top: -30px;
    }
    .incontainer22{
        padding-top: 5px;
        text-align: center;
    }











        .container_3{
        display: flex;
        flex-direction: column-reverse;
        height: 615px;
    }
      .incontainer3{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
         padding-top: 20px;
      }
      .incontainer3text{
      position: relative;
      bottom: 150px;
    padding-top: 10px;}
    .incontainer3text h2{
        font-size: 28px;
    }
    .incontainer3text p{
        font-size: 15px;
    }
    .img3{
        width: 328PX;
         position: relative;
      bottom: 110px;
    }










    .container_4{
        height: 1149px;
    }
    .Steps{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .circle{
        width: 150px;
        height: 150px;

    }
    .circle1{
        width: 150px;
        height: 150px;
    }
    .circle2{
        width: 150px;
        height: 150px;
    }
    .circles{
        width: 50px;
        height: 50px;
    }
    .circles1{
        width: 50px;
        height: 50px;
        position: relative;
        top: -200px;
    }
    .circles2{
        width: 50px;
        height: 50px;
    }
    .circleimg{
        width: 120px;
    }
    .container_4_text{
        font-size: 28px;
        position: relative;
        top: 27px;
    }
    .insteps1{
        display: flex;
        flex-direction: column-reverse;
        font-size: 14px;
        position: relative;
        left: 80px;
        bottom: 79px;
    }
    .container_4_p1{
        position: relative;
        top: -70px;
    }
    .container_4_p2{
    position: relative;
    top: 30px;
    }
    .insteps2{
        font-size: 14px;
        position: relative;
        right: 96px;
        bottom: 290px;
    }
    .insteps{
        position: relative;
        right: 96px;
        font-size: 14px;
    }





    .container_5{
        height: 568px;
    }
    .incontainer_5{
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .incontainer_5_p{
        padding-bottom: 40px;
        font-size: 28px;
        
    }
    .img5{
        width: 328px;
        padding-bottom: 30px;
        position: relative;
        bottom: 30px;
    }




    .container_6{
        height: 578px;
    }
    .incontainer_66{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .incontainer_6{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
    }
    .container6_p{
        font-size: 28px;
    }
   
}






























